<template>
  <div class="app-bar flex justify-between items-center bg-dark">
    <div class="logo-brand flex flex-row items-center space-x-5">
        <div class="logo py-6 px-6 bg-green text-dark font-extrabold text-2xl">W</div>
        <div class="brand text-white font-extrabold">WILLIAM</div>
    </div>
    <nav class="navbar">
        <navigation/>
    </nav>
    <div class="menu py-6 px-6 bg-green text-dark h-full font-extrabold text-3xl">
        <svg class="svg-icon" style="width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M1011.061124 325.817725c7.12115 0 12.938876-6.09715 12.938876-12.938876l0-67.210876c0-7.12115-5.493124-12.938876-12.938876-12.938876L12.938876 232.729098c-7.12115 0-12.938876 6.09715-12.938876 12.938876l0 67.210876c0 7.12115 5.493124 12.938876 12.938876 12.938876L1011.061124 325.817725z"  /><path d="M0 545.606275c0 7.12115 5.493124 12.938876 12.938876 12.938876l998.120575 0c7.12115 0 12.938876-6.09715 12.938876-12.938876l0-67.210876c0-7.168-5.493124-12.938876-12.938876-12.938876L12.938876 465.456523c-7.12115 0-12.938876 6.09715-12.938876 12.938876L0 545.606275z"  /><path d="M0 778.333699c0 7.12115 5.493124 12.938876 12.938876 12.938876l998.120575 0c7.12115 0 12.938876-6.09715 12.938876-12.938876l0-67.210876c0-7.12115-5.493124-12.938876-12.938876-12.938876L12.938876 698.183948c-7.12115 0-12.938876 6.09715-12.938876 12.938876L0 778.333699z"  /></svg>
    </div>
  </div>
</template>

<script>
import Navigation from "./Navigation.vue";

export default{
    components: { Navigation }, 
}
  
</script>

<style>

</style>