<template>
  <nav class=" flex flex-row items-center space-x-8 text-white">
    <li class="nav-item list-none cursor-pointer relative">
        <a href="#" class="nav-link" data-text="Home" style="--m:0px">
           Home
        </a>
    </li>
    <li class="nav-item list-none cursor-pointer relative">
        <a href="#" class="nav-link" data-text="About" style="--m:0px">
           About
        </a>
    </li>
    <li class="nav-item list-none cursor-pointer relative">
        <a href="#" class="nav-link" data-text="Services" style="--m:0px">
           Services
        </a>
    </li>
    <li class="nav-item list-none cursor-pointer relative">
        <a href="#" class="nav-link" data-text="Projects" style="--m:0px">
           Projects
        </a>
    </li>
    <li class="nav-item list-none cursor-pointer relative">
        <a href="#" class="nav-link" data-text="Blog" style="--m:0px">
           Blog
        </a>
    </li>
    <li class="nav-item list-none cursor-pointer relative">
        <a href="#" class="nav-link" data-text="Contact" style="--m:0px">
           Contact
        </a>
    </li>
  </nav>
</template>

<script>
export default {

}
</script>

<style scoped>
nav{
    position: relative;
}
nav li a{
    color:white;
    text-transform: uppercase;
    position:"relative";
    letter-spacing: 1px;
}
nav li a:before{
    content:attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    width: 0%;
    transition: all ease-in-out 0.4s;
    /* transform: translateY(var(--m)) translateZ(0); */
    color: #55E6A5;
}
nav li:hover a:before{
    width: 100%;
}

.menu-text div{
    transition: transform 0.4s ease, -webkit-transform 0.4s ease;
    transform: translateY(var(--m)) translateZ(0);
}
</style>