<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
import AppBarVue from './components/AppBar.vue'


</script>

<template>
  <header class="h-screen">
    <div class="container mx-auto h-full">
      <AppBarVue/>
    </div>
  </header>

  <RouterView />
</template>

<style scoped>
header{
  background: url('./assets/banner.jpg');
}
</style>
